services:
  web:
    build:
      context: .
      dockerfile: docker/Dockerfile
    ports:
     - "11000:80"
    environment:
      PM_SECRET_KEY: 1234
      PM_DB_URL: postgresql://postgres:123@db:5432/postgres
    depends_on:
      - db

  db:
    image: bitnami/postgresql:17
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_PASSWORD=123

volumes:
  postgres_data:
