#
# $ cat .env
#
#   PAPERMERGE__SECURITY__SECRET_KEY=123
#   PAPERMERGE__DATABASE__URL=sqlite:////<absolute path to sqlite3 file>
#
version: "3.9"
services:
  web:
    image: papermerge/auth-server:0.1.0
    ports:
     - "11000:80"
    environment:
      PAPERMERGE__SECURITY__SECRET_KEY: ${PAPERMERGE__SECURITY__SECRET_KEY}
      PAPERMERGE__DATABASE__URL: ${PAPERMERGE__DATABASE__URL}
    volumes:
      - ./db:/db
