name: Docker Image

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build/Publish Dev Docker Image
      uses: docker/build-push-action@v6
      with:
        push: true
        tags: papermerge/auth-server:${{ github.ref_name }}
        file: docker/Dockerfile

    - name: Add description
      uses: peter-evans/dockerhub-description@v4
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
        repository: papermerge/auth-server
        readme-filepath: README.md
