name: Unit Tests

on:
  workflow_dispatch:

  push:
    # Won't trigger this GH action when pushing tags
    branches:
      - '**'
    paths:
      - 'auth_server/**'
      - 'tests/**'
      - '.github/**'

jobs:
  tests:
    runs-on: ubuntu-22.04
    services:
      postgres:
        image: postgres:17
        env:
          POSTGRES_PASSWORD: pm
          POSTGRES_USER: pm
          POSTGRES_DB: pmdb
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
      - uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v5
      - name: Set up Python 3.14
        run: uv python install 3.14
      - name: Install dependencies and run tests
        run: uv sync --group dev && uv run pytest
        env:
          PM_SECRET_KEY: ${{ secrets.security__secret_key }}
          PM_DB_URL: 'postgresql://pm:pm@localhost:5432/pmdb'
