name: Unit Tests

on:
  workflow_dispatch:

  push:
    paths:
      - 'auth_server/**'
      - 'tests/**'
      - '.github/**'

jobs:
  tests:
    runs-on: ubuntu-22.04
    services:
      postgres:
        image: postgres:16.1
        env:
          POSTGRES_PASSWORD: pmgpass
          POSTGRES_USER: pmguser
          POSTGRES_DB: test_pmgdb
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python 3.13
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'
      - name: Install python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          poetry install -E pg && poetry run pytest
        env:
            PAPERMERGE__SECURITY__SECRET_KEY: ${{ secrets.security__secret_key }}
            PAPERMERGE__DATABASE__URL: 'postgresql://pmguser:pmgpass@localhost:5432/test_pmgdb'
